{{ form_start(form) }}
    <div class="row g-4">
        <div class="col-lg-6">
            <div class="mb-3">
                {{ form_label(form.foundingDate) }}
                {{ form_widget(form.foundingDate) }}
                {{ form_errors(form.foundingDate) }}
            </div>
        </div>
        <div class="col-lg-6">
            <div class="h-100 rounded border bg-body-tertiary p-3">
                <h3 class="h6 mb-2">In Vorbereitung</h3>
                <p class="mb-0 text-body-secondary">Hier werden sp\u00e4ter weitere Inhalte und Pflegefelder zur Vereinsgeschichte erg\u00e4nzt.</p>
            </div>
        </div>
    </div>

    <div class="mt-4 d-flex gap-2">
        <button type="button" class="btn btn-primary" disabled>Speichern folgt</button>
    </div>
{{ form_end(form) }}
